.center {
  text-align: center;
}

a.button,
.button {
  background: $grey-color;
  border-radius: 4px;
  color: white;
  display: block;
  margin: 12px auto;
  padding: 12px;
  max-width: 460px;
  text-align: center;
  transition: background .33s;
  width: 100%;

  &:hover {
    background-color: lighten($grey-color, 15%);
    text-decoration: none;
    transition: background .33s;
  }
}

.coming-soon {
  font-style: italic;
  margin-bottom: 24px;
  margin-top: 24px;
}

.lsc-cover {
  margin-bottom: 24px;
  max-width: 400px;
  width: 100%;
}

.home {
  text-align: center;
}

.brandmark {
  height: 32px;
}
